h3{
    font-family: 'Arial Narrow Bold', Impact;
    font-size: 55px;
    text-align: center;
    line-height: 100px;
    color:rgb(41, 17, 17);
}
body {
    background-size: cover;
    background-image: url("Photos/10.jpg");
}
.container {
    margin-top: 55px;
}
.card {
    font-family: 'Arial Narrow Bold', Impact;
    border-radius: 8px;
    border-color: black;
    border-width: 4px;
    background-color: rgb(60, 55, 55);
    color:aliceblue;
}
.list-group-item {
    background-color: black;
}
.list-group {
}